# Milestone 2 - Adavengers 2023

In this milestone, we will get acquainted with the data, preprocess it and do necessary descriptive statistics tasks. We will also plan our future analysis in detail and describe, as well as test, proposed methodologies.

In [163]:
#This can be deleted later:
#Idea for structure of this Milestone 2 Notebook:
#Step 1: Importing Data
#Step 2: Cleaning Data - remove Nans, PAY ATTENTION TO DUPLICATES!
#Step 3: Descriptive Statistics - how is data distributed, what are mean values,... 
#Step 4: Getting into details of adjectives topic (if we get that far): 
    #test how we can identify adjectives 
    #and who if a sentence is about male or female
#Step 5: maybe start answering our other research questions, if we have time!

In [164]:
#Library Imports
import pandas as pd
import numpy as np

## Step 1: Importing the Data

In [165]:
metadata_headers = ["Wikipedia movie ID", "Freebase movie ID", "Movie name" , "Movie release date", "Movie box office revenue", "Movie runtime", "Movie languages","Movie countries", "Movie genres"]
dfmetadata = pd.read_csv('data/movie.metadata.tsv',sep='\t',header =None, names =metadata_headers)
dfmetadata.head()

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [166]:
#Reading in the Data
dfsummaries=pd.read_table('data/plot_summaries.txt',header=None,names=["ID","Summary Text"])
dfsummaries.head()

         ID                                       Summary Text
0  23890098  Shlykov, a hard-working taxi driver and Lyosha...
1  31186339  The nation of Panem consists of a wealthy Capi...
2  20663735  Poovalli Induchoodan  is sentenced for six yea...
3   2231378  The Lemon Drop Kid , a New York City swindler,...
4    595909  Seventh-day Adventist Church pastor Michael Ch...

In [167]:
#Checking if ID is the same as Wikipedia Movie Id in Metadata by randomly checking an id (31186339)
print(dfsummaries[dfsummaries["ID"]==31186339]["Summary Text"])
print(dfmetadata[dfmetadata["Wikipedia movie ID"]==31186339]["Movie name"])
#Yes, both these entries correspond to the hunger games.

1    The nation of Panem consists of a wealthy Capi...
Name: Summary Text, dtype: object
78373    The Hunger Games
Name: Movie name, dtype: object

In [168]:
#How many entries are there?
print("number of summary entries:",len(dfsummaries))
print("number of metadata entries:",len(dfmetadata)) 
#We can see that there is not a summary for every movie but only about half.

number of summary entries: 42303
number of metadata entries: 81741

In [175]:
#Checking if there are NaNs #I STILL NEED TO FINISH THIS PART
dfsummaries["ID"].isnull

<bound method Series.isnull of 0        23890098
1        31186339
2        20663735
3         2231378
4          595909
           ...
42298    34808485
42299     1096473
42300    35102018
42301     8628195
42302     6040782
Name: ID, Length: 42295, dtype: int64>

In [170]:
#Checking if there are double entries
print(dfsummaries["ID"].is_unique) #This is true, nice!
print(dfsummaries["Summary Text"].is_unique) #This however, is false. Weird.

True
False

In [171]:
#Let's try to find out more about these double entries
dfsummaries.drop_duplicates(['Summary Text'],inplace=True)
print(dfsummaries["Summary Text"].is_unique) #Now we can see there are no more duplicates (remember to do same for metadata!)

True

In [172]:
#Another thing we could do is test the type of the data. 
#The IDs should all be positive integers, the summaries all str.
dfsummaries.dtypes #nice

ID               int64
Summary Text    object
dtype: object

In [173]:
#Checking if we have negative values for ID
dfsummaries.ID.min() #Nice! They're all positive.

330

In [174]:
#Next step: Maybe check how long the longest and shortest summaries are :)