In [152]:
#Library Imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
from scipy import stats
from scipy.stats import ttest_ind
from statsmodels.stats import diagnostic
import re
import gensim
from gensim.models import Word2Vec
from sklearn.metrics.pairwise import cosine_similarity
import nltk
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

metadata_headers = ["Wikipedia_ID", "Freebase_ID", "Movie_name" , "Release_date", "box_office_revenue", "runtime", "languages","countries", "genres"]
dfmetadata = pd.read_csv('data/movie.metadata.tsv',sep='\t',header =None, names =metadata_headers)
#dfmetadata.head()

#Reading in the Data
dfsummaries=pd.read_table('data/plot_summaries.txt',header=None,names=["Wikipedia_ID","Summary"])
#dfsummaries.head()
character_head = ["Wikipedia_ID","Freebase_ID", "Release_date", "Character_name", "Actor_date_of_birth", "Gender", "Height", "Ethnicity", "Actor_name", "Age","Freebase_character/actor_map_ID", "Freebase_character_ID", "Freebase_actor_ID"]
dfcharacter =pd.read_csv('data/character.metadata.tsv',sep='\t',header =None, names =character_head)

## Statistics 1: Is the relationship between genre on female actresses significant? Answer: No.

## <span style="color: blue;"> This is all old stuff, reading in and transforming the data....

In [166]:
#In order to investigate women in different genres, we need to merge the metadata and character data.
meta_char_merged=dfcharacter[['Freebase_ID','Actor_name','Gender']].merge(dfmetadata[['Freebase_ID','Movie_name','genres']],on="Freebase_ID")

In [154]:
#First, we need to change the type from a string representation to a dictionary
example_entry1 = meta_char_merged.genres[1]
import ast
if type(example_entry1)==str: 
    meta_char_merged.genres=meta_char_merged.genres.apply(lambda x: ast.literal_eval(x))

#Now, we can create a df where the genres are all in different columns
df_dict1 = pd.json_normalize(meta_char_merged.genres)

#We can see that the headers for genres are IDs, so let's change them to more intuitive headers.
new_column_names = []

#We will take the first most frequent not NaN mode to be the name of the column because this is also the name of the genre
for column in df_dict1.columns:
    name = df_dict1[column].mode()[0]
    new_column_names.append(name)
    
df_dict1.columns=new_column_names

#Now, we can merge the df with the genre infos to our original dataframe with the rest of the information (movie name, gender etc)
meta_char_merged2 = pd.concat([meta_char_merged.drop('genres',axis=1), df_dict1], axis=1)

In [155]:
meta_char_merged2

,Freebase_ID,Actor_name,Gender,Movie_name,Thriller,Science Fiction,Horror,Adventure,Supernatural,Action,...,Comdedy,Children's Issues,Statutory rape,Breakdance,War effort,Revenge,Romantic thriller,Chick flick,Buddy Picture,Homoeroticism
0,/m/03vyhn,Wanda De Jesus,F,Ghosts of Mars,Thriller,Science Fiction,Horror,Adventure,Supernatural,Action,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,/m/03vyhn,Natasha Henstridge,F,Ghosts of Mars,Thriller,Science Fiction,Horror,Adventure,Supernatural,Action,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,/m/03vyhn,Ice Cube,M,Ghosts of Mars,Thriller,Science Fiction,Horror,Adventure,Supernatural,Action,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,/m/03vyhn,Jason Statham,M,Ghosts of Mars,Thriller,Science Fiction,Horror,Adventure,Supernatural,Action,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,/m/03vyhn,Clea DuVall,F,Ghosts of Mars,Thriller,Science Fiction,Horror,Adventure,Supernatural,Action,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450664,/m/03pcrp,Dorothy Elias-Fahn,F,The Super Dimension Fortress Macross II: Lover...,NaN,Science Fiction,NaN,Adventure,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450665,/m/03pcrp,Jonathan Fahn,M,The Super Dimension Fortress Macross II: Lover...,NaN,Science Fiction,NaN,Adventure,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450666,/m/0cp05t9,David Hemmings,M,Five Clues to Fortune,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450667,/m/0cp05t9,Roberta Paterson,NaN,Five Clues to Fortune,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450668,/m/0cp05t9,John Rogers,NaN,Five Clues to Fortune,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [160]:
#Next, we are interested in how gender representation varies in different genres
#for this we will count the values in the genre columns
gender_counts_init = meta_char_merged2.drop(['Freebase_ID','Actor_name','Movie_name'],axis=1).groupby('Gender').count()
gender_counts_init

,Thriller,Science Fiction,Horror,Adventure,Supernatural,Action,Space western,Mystery,Biographical film,Drama,...,Comdedy,Children's Issues,Statutory rape,Breakdance,War effort,Revenge,Romantic thriller,Chick flick,Buddy Picture,Homoeroticism
Gender,,,,,,,,,,,,,,,,,,,,,
F,21270,6626,11659,9717,1951,16203,36,8042,2578,71760,...,2,1,3,5,2,2,1,8,7,0
M,48159,16351,21129,27074,3299,49184,118,16027,5526,133722,...,7,2,5,5,1,6,0,10,29,7

In [161]:
gender_counts=gender_counts_init.transpose()

In [162]:
#Let's add some more interesting columns!
#First, i want one for the total counts to later look at the most common genres
gender_counts['total_count']=gender_counts.F+gender_counts.M
#Next, we are also also interested in the percentage of women
gender_counts['F_percentage']=(gender_counts.F/(gender_counts.F+gender_counts.M))*100

#Finally, we want reset the index so that genre is a normal column:
gender_counts_2=gender_counts.reset_index()
gender_counts_2=gender_counts_2.rename(columns={'index':'Genre'})

gender_counts_2

Gender              Genre      F      M  total_count  F_percentage
0                Thriller  21270  48159        69429     30.635613
1         Science Fiction   6626  16351        22977     28.837533
2                  Horror  11659  21129        32788     35.558741
3               Adventure   9717  27074        36791     26.411351
4            Supernatural   1951   3299         5250     37.161905
..                    ...    ...    ...          ...           ...
356               Revenge      2      6            8     25.000000
357     Romantic thriller      1      0            1    100.000000
358           Chick flick      8     10           18     44.444444
359         Buddy Picture      7     29           36     19.444444
360         Homoeroticism      0      7            7      0.000000

[361 rows x 5 columns]

## <span style="color: blue;"> New stuff starts here:

In [169]:
#Doing a chi suqare test
contingency_table = pd.crosstab(gender_counts_2['Genre'], [gender_counts_2['F'], gender_counts_2['M']])

# Perform the chi-squared test for independence on the entire dataset
chi2, p_value, _, _ = chi2_contingency(contingency_table)

# Print the results
print(f"Chi-squared statistic: {chi2}")
print(f"P-value: {p_value}")

Chi-squared statistic: 128516.00000000009
P-value: 0.2426164025527701

In [170]:
contingency_table

F                 0                           1                           \
M                0      1      7      12     0      2      3      5
Genre
Absurdism             0      0      0      0      0      0      0      0
Acid western          0      0      0      0      0      0      0      0
Action                0      0      0      0      0      0      0      0
Action Comedy         0      0      0      0      0      0      0      0
Action Thrillers      0      0      0      0      0      0      0      0
...                 ...    ...    ...    ...    ...    ...    ...    ...
World History         0      0      0      0      0      0      0      0
World cinema          0      0      0      0      0      0      0      0
Wuxia                 0      0      0      0      0      0      0      0
Z movie               0      0      0      0      0      0      0      0
Zombie Film           0      0      0      0      0      0      0      0

F                               ...  10962  11659  13729  14439  16203  16599  \
M                11     12      ... 16513  21129  34838  26336  49184  31152
Genre                           ...
Absurdism             0      0  ...      0      0      0      0      0      0
Acid western          0      0  ...      0      0      0      0      0      0
Action                0      0  ...      0      0      0      0      1      0
Action Comedy         0      0  ...      0      0      0      0      0      0
Action Thrillers      0      0  ...      0      0      0      0      0      0
...                 ...    ...  ...    ...    ...    ...    ...    ...    ...
World History         0      0  ...      0      0      0      0      0      0
World cinema          0      0  ...      0      0      0      0      0      1
Wuxia                 0      0  ...      0      0      0      0      0      0
Z movie               0      0  ...      0      0      0      0      0      0
Zombie Film           0      0  ...      0      0      0      0      0      0

F                 21270  28585  39678  71760
M                48159  44233  76177  133722
Genre
Absurdism             0      0      0      0
Acid western          0      0      0      0
Action                0      0      0      0
Action Comedy         0      0      0      0
Action Thrillers      0      0      0      0
...                 ...    ...    ...    ...
World History         0      0      0      0
World cinema          0      0      0      0
Wuxia                 0      0      0      0
Z movie               0      0      0      0
Zombie Film           0      0      0      0

[360 rows x 358 columns]

In [164]:
#Doing an ANOVA with F_percentage
test = gender_counts_2[gender_counts_2['total_count'] >= 2]

import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd


mod = ols('F_percentage ~ C(Genre)', data=test).fit()
anova_table = sm.stats.anova_lm(mod, typ=2)

print(anova_table)

                sum_sq     df         F   PR(>F)
C(Genre)  38749.778350  356.0  1.751767  0.54958
Residual     62.135952    1.0       NaN      NaN

In [165]:
#Regardless on chi square test (on F,M) or ANOVA (on F_percentage), the effect is not significant.

## Statistics 2: Is the relationship between character types and female actresses significant? Answer: yes.

## <span style="color: blue;"> Again, old stuff:

In [143]:
#We can see that the infos about character, movie, id and actor are all in one column.
df_clusters_initial=pd.read_table('data/tvtropes.clusters.txt',header=None)
df_clusters_initial

example_entry = df_clusters_initial[1][1]

#We need to turn the string representations of dictionaries into actual dictionaries
#(The if statement is just so the cell can be run without having run the previous cells, to avoid confusion)
import ast
if type(example_entry)==str: 
    df_clusters_initial[1]=df_clusters_initial[1].apply(lambda x: ast.literal_eval(x))
    
#Now, we can separate the values in the dictionaries to different columns
df_dict = pd.json_normalize(df_clusters_initial[1])

#Adding the separated dictionary values to the initial df
dfclusters = pd.concat([df_clusters_initial.drop(1,axis=1), df_dict], axis=1)

dfclusters=dfclusters.rename(columns={0:"type",'actor':'Actor_name','id':'Freebase_character/actor_map_ID'})
#dfclusters

In [144]:
#We only need the info on genders from the character df so I do this to avoid having to drop many columns later
clusters_merged = dfclusters.merge(dfcharacter[['Freebase_character/actor_map_ID', 'Gender']],on="Freebase_character/actor_map_ID")
clusters_merged

#grouping by type and gender
types = clusters_merged.groupby(['type', 'Gender']).size().unstack(fill_value=0)

#adding a column for total M+F to see which types are most comon
types['total_count'] = types['F'] + types['M']

#adding a column for the percentage of women
types['F_percentage'] = (types['F'] / (types['F'] + types['M']))*100

# Resetting index to make 'type' a column
types.reset_index(inplace=True)

In [84]:
clusters_merged

,type,char,movie,Freebase_character/actor_map_ID,Actor_name,Gender
0,absent_minded_professor,Professor Philip Brainard,Flubber,/m/0jy9q0,Robin Williams,M
1,absent_minded_professor,Professor Keenbean,Richie Rich,/m/02vchl3,Michael McShane,M
2,absent_minded_professor,Dr. Reinhardt Lane,The Shadow,/m/0k6fkc,Ian McKellen,M
3,absent_minded_professor,Dr. Harold Medford,Them!,/m/0k6_br,Edmund Gwenn,M
4,absent_minded_professor,Daniel Jackson,Stargate,/m/0k3rhh,James Spader,M
...,...,...,...,...,...,...
496,young_gun,Morgan Earp,Tombstone,/m/0k776f,Bill Paxton,M
497,young_gun,Colorado Ryan,Rio Bravo,/m/0k2kqg,Ricky Nelson,M
498,young_gun,Tom Sawyer,The League of Extraordinary Gentlemen,/m/0k5nsh,Shane West,M
499,young_gun,William H. 'Billy the Kid' Bonney,Young Guns II,/m/03lrjk0,Emilio Estevez,M
500,young_gun,Jake,Silverado,/m/0k39jj,Kevin Costner,M

In [76]:
types.sort_values(by='F_percentage',ascending=False).head(15)

Gender                      type   F  M  total_count  F_percentage
69                   valley_girl   6  0            6    100.000000
53                   prima_donna   6  0            6    100.000000
51                       ophelia   5  0            5    100.000000
44                junkie_prophet   2  0            2    100.000000
12                     chanteuse   6  0            6    100.000000
15            classy_cat_burglar   1  0            1    100.000000
34                    final_girl   6  0            6    100.000000
27                   dumb_blonde  10  1           11     90.909091
6                    broken_bird   4  1            5     80.000000
5               brainless_beauty   7  5           12     58.333333
45                         klutz   1  1            2     50.000000
37                granola_person   4  4            8     50.000000
29              eccentric_mentor   2  3            5     40.000000
9                          bully   1  2            3     33.333333
1       adventurer_archaeologist   1  3            4     25.000000

## <span style="color: blue;"> New stuff:

In [167]:
#Doing a chi squared test
import pandas as pd
from scipy.stats import chi2_contingency

contingency_table = pd.crosstab(clusters_merged['Gender'], clusters_merged['type'])

chi2, p_value, _, _ = chi2_contingency(contingency_table)

print(f"Chi-squared statistic: {chi2}")
print(f"P-value: {p_value}")

Chi-squared statistic: 369.8513527525936
P-value: 5.592160386860096e-42

In [115]:
contingency_table

type,absent_minded_professor,adventurer_archaeologist,arrogant_kungfu_guy,big_man_on_campus,bounty_hunter,brainless_beauty,broken_bird,bromantic_foil,bruiser_with_a_soft_center,bully,...,storyteller,stupid_crooks,surfer_dude,the_chief,the_editor,tranquil_fury,trickster,valley_girl,warrior_poet,young_gun
Gender,,,,,,,,,,,,,,,,,,,,,
F,0,1,1,0,0,7,4,0,0,1,...,1,0,0,0,0,0,0,6,0,0
M,5,3,8,7,10,5,1,5,3,2,...,3,5,9,3,2,7,5,0,9,6